.dropdown-content {
  @apply tw-p-1 tw-bg-white tw-rounded-sm tw-text-sm tw-drop-shadow-md;
}

.dropdown-arrow {
  @apply tw-fill-white;
}

.dropdown-item {
  @apply tw-relative tw-flex tw-items-center tw-pl-6 tw-pr-2 tw-py-1 tw-rounded-sm tw-cursor-default hover:tw-bg-slate-100 tw-outline-none tw-select-none;
  min-width: 100px;

  &[data-disabled] {
    @apply tw-text-gray-300 tw-pointer-events-none;
  }
}

.dropdown-indicator {
  @apply tw-absolute tw-left-0 tw-inline-flex tw-items-center tw-justify-center;
  width: 25px;
  height: 25px;
}

.dropdown-label {
  @apply tw-pl-6 tw-pr-2 tw-py-1 tw-text-gray-900 tw-text-xs;
}

.dropdown-separator {
  @apply tw-m-2 tw-bg-gray-300;
  height: 1px;
}

.dropdown-trigger {
  @apply tw-outline-none active:tw-outline-none;
}
