@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import 'components/button/Button.module.scss';

.ToggleGroup {
  @apply inline-flex;
}

.ToggleGroupItem {
  // base
  @include queue-button-base;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  @include queue-button-color-default;
  @include queue-button-color-blue;
  @include queue-button-color-red;
}
