@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.ToggleGroup {
  display: inline-flex;
}

.ToggleGroupItem {
  @apply flex 
    items-center 
    justify-center 
    border-0 
    transition-colors
    text-sm
    px-3;

  color: var(--gray12);
  background: var(--whiteA1);

  &:hover {
    background: var(--gray3);
  }

  &.small {
    @apply h-8;
  }

  &.medium {
    @apply h-10;
  }

  &.large {
    @apply h-12;
  }
}

.ToggleGroupItem:hover {
  background: var(--gray3);
}

.ToggleGroupItem[data-state='on'] {
  background: var(--gray3);
}
