// default ui color
$ui-default-color: var(--gray12);
$ui-default-color-hover: var(--gray12);
$ui-default-color-active: var(--gray12);
$ui-default-color-disabled: var(--gray5);
$ui-default-background-color-disabled: var(--gray5);
$ui-default-background-color: var(--whiteA1);
$ui-default-background-color-hover: var(--gray3);
$ui-default-background-color-active: var(--gray5);
$ui-default-background-color-disabled: var(--gray1);

// blue ui color
$ui-blue-color: var(--gray1);
$ui-blue-color-hover: var(--gray1);
$ui-blue-color-active: var(--gray1);
$ui-blue-color-disabled: var(--gray1);
$ui-blue-background-color: var(--blue9);
$ui-blue-background-color-hover: var(--blue10);
$ui-blue-background-color-active: var(--blue11);
$ui-blue-background-color-disabled: var(--blue11);

// red ui color
$ui-red-color: var(--gray1);
$ui-red-color-hover: var(--gray1);
$ui-red-color-active: var(--gray1);
$ui-red-color-disabled: var(--gray1);
$ui-red-background-color: var(--red9);
$ui-red-background-color-hover: var(--red10);
$ui-red-background-color-active: var(--red11);
$ui-red-background-color-disabled: var(--red11);
