@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';

.root {
  @apply flex flex-1 flex-col overflow-auto;
  background: var(--gray3);
}

.Root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
  min-width: 0;
}

.fullscreen {
  background: black;
}

.scaleFull {
  @apply p-0;
}

.canvas {
  border: 1px solid var(--gray5);
}

.drawer {
  border: 1px solid var(--blue7);
  background-color: var(--blue5);
  opacity: 0.5;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve8);
}
