@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';

.ScrollAreaRoot {
  @apply w-full h-full;
  background: var(--gray3);
}

.Drawable {
  @apply flex-1 flex-col table-cell align-middle;
}

.Root {
  @apply flex flex-1 flex-col overflow-hidden min-w-0;
}

.fullscreen {
  @apply pointer-events-none;
  background: black;
}

.scaleFull {
  @apply p-0;
}

.canvas {
  @apply relative box-border overflow-hidden;
  &:not(.fullscreen) {
    @apply overflow-visible;
    border: 1px solid var(--gray5);
  }
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve8);
}
