@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';

.root {
  background: var(--gray3);
}

.canvas {
  border: 1px solid var(--gray5);
}

.drawer {
  border: 1px solid var(--blue7);
  background-color: var(--blue5);
  opacity: 0.5;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve8);
}
