@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import 'components/button/Button.module.scss';
@import 'styles/popover/Popover.module.scss';
@import 'styles/list/List.module.scss';

.MenubarRoot {
  @apply flex;
}

.MenubarTrigger {
  @include queue-button-base;
  @include queue-button;
}

.MenubarContent,
.MenubarSubContent {
  @include popover;
  min-width: 220px;
}

.MenubarItem,
.MenubarSubTrigger,
.MenubarCheckboxItem,
.MenubarRadioItem {
  @include list-item;
}

.MenubarItem[data-state='open'],
.MenubarSubTrigger[data-state='open'] {
  @include list-item-hover;
}

.MenubarItem[data-highlighted],
.MenubarSubTrigger[data-highlighted],
.MenubarCheckboxItem[data-highlighted],
.MenubarRadioItem[data-highlighted] {
  @include list-item-hover;
}

.MenubarItem[data-disabled],
.MenubarSubTrigger[data-disabled],
.MenubarCheckboxItem[data-disabled],
.MenubarRadioItem[data-disabled] {
  @include list-item-disabled;
}

.MenubarSeparator {
  @include list-separator;
}
