@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.TabsRoot {
  display: flex;
  flex-direction: column;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--gray5);
}

.TabsTrigger {
  font-family: inherit;
  background-color: white;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--gray11);
  user-select: none;
  outline: none;
}

.TabsTrigger:hover {
  color: var(--blue11);
}

.TabsTrigger[data-state='active'] {
  color: var(--blue11);
}

.TabsTrigger:focus {
  position: relative;
}

.TabsContent {
  flex-grow: 1;
  background-color: white;
}
