.container {
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.input {
  height: 36px;
  margin: 0 8px;
}

.canvas {
  margin: 10px;
  width: 30px;
  height: 30px;
}