.Container {
  @apply tw-flex;
  border-bottom: 1px solid var(--gray-5);
  background-color: var(--gray-1);
  height: 70px;
}

.LogoContainer {
  @apply tw-flex tw-justify-center tw-items-center;
  width: 74px;
}

.ContentContainer {
  @apply tw-flex tw-flex-col tw-flex-auto;
}

.TitleContainer {
  @apply tw-mt-2.5 tw-ml-2.5 tw-h-full;
}
