.Container {
  @apply flex;
  border-bottom: 1px solid var(--gray5);
  background-color: var(--gray1);
  height: 70px;
}

.LogoContainer {
  @apply flex justify-center items-center;
  width: 74px;
}

.ContentContainer {
  @apply flex flex-col flex-auto;
}

.TitleContainer {
  @apply mt-2.5 ml-2.5 h-full;
}
