.Container {
  @apply mt-5;
}

.RatioContainer {
  @apply flex items-center;
}

.TemplateContainer {
  @apply mt-5;
}

.RatioSelector {
  @apply flex-1 ml-2.5 justify-between;
}

.TemplateGroup {
  @apply grid grid-cols-4 border overflow-y-auto h-60;
  border-color: var(--gray-5);
  grid-auto-rows: theme('height.20');
  .TemplateItem {
    @apply h-full;
  }
}
