@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import 'styles/popover/Popover.module.scss';
@import 'styles/list/List.module.scss';
@import 'components/button/Button.module.scss';

.SelectTrigger {
  // base
  @include queue-button-base;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  @include queue-button-color-default;
  @include queue-button-color-blue;
  @include queue-button-color-red;
  @apply justify-between;
}

.SelectTrigger:hover {
  background-color: var(--mauve-3);
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}

.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: Var(--violet-11);
}

.SelectContent {
  @include popover;
}

.SelectItem {
  @include list-item;
}

.SelectItem[data-disabled] {
  @include list-item-disabled;
}

.SelectItem[data-highlighted] {
  @include list-item-hover;
}

.SelectSeparator {
  @include list-separator;
}
