@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import 'styles/popover/Popover.module.scss';
@import 'styles/list/List.module.scss';
@import 'components/button/Button.module.scss';

.SelectTrigger {
  @include queue-button-base;
  @include queue-button;
  @apply justify-between;
}

.SelectTrigger:hover {
  background-color: var(--mauve3);
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}

.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectIcon {
  color: Var(--violet11);
}

.SelectContent {
  @include popover;
}

.SelectItem {
  @include list-item;
}

.SelectItem[data-disabled] {
  @include list-item-disabled;
}

.SelectItem[data-highlighted] {
  @include list-item-hover;
}

.SelectSeparator {
  @include list-separator;
}
