.container {
  @apply flex;
  @apply flex-shrink-0;
  border-top: 1px solid var(--gray-5);
}

.pageHolder {
  @apply flex 
    flex-grow 
    flex-shrink 
    flex-col 
    min-w-0;
}

.Pages {
  @apply flex;
}

.dragOver {
  opacity: 0.5;
}

.Remove {
  color: red;
}
