.container {
  @apply flex;
  @apply flex-shrink-0;
  border-top: 1px solid var(--gray5);
}

.pageHolder {
  @apply flex;
  @apply flex-grow;
  @apply flex-shrink;
  @apply flex-col;
  @apply overflow-hidden;
}

.dragOver {
  opacity: 0.5;
}

.Remove {
  color: red;
}
