.StylerRoot {
  @apply tw-p-2 tw-pr-5;
}

.root {
  @apply tw-flex tw-flex-col tw-bg-white tw-overflow-y-auto;
  width: 200px;
}

.scroll-list-box {
  @apply tw-flex tw-flex-col tw-gap-1 tw-px-2 tw-py-1 tw-border tw-border-gray-100 tw-overflow-y-auto;
  max-height: 170px;
}

.input-color {
  @apply tw-relative tw-cursor-pointer tw-block tw-w-full tw-h-full tw-rounded-md tw-border tw-border-gray-100;

  & input {
    @apply tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-full;
    visibility: hidden;
  }
}

.SubItemContainer {
  @apply tw-mt-2.5;
}

.SubTitle {
  @apply tw-text-left;
}

.SubInputContainer {
  @apply tw-mt-1;
}

.Select {
 @apply tw-w-full;
}