@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';
@import 'components/dialog/Dialog.module.scss';
@import 'components/button/Button.module.scss';

.AlertDialogOverlay {
  @include queue-dialog-overlay;
}

.AlertDialogContent {
  @include queue-dialog-content;
}

.AlertDialogTitle {
  @include queue-dialog-title;
}

.AlertDialogDescription {
  @include queue-dialog-description;
}

.AlertDialogFooter {
  @include queue-dialog-footer;
}

.AlertDialogCancel {
  // base
  @include queue-button-base;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  @include queue-button-color-default;
  @include queue-button-color-blue;
  @include queue-button-color-red;
}

.AlertDialogAction {
  // base
  @include queue-button-base;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  @include queue-button-color-default;
  @include queue-button-color-blue;
  @include queue-button-color-red;
}
