@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/whiteA.css';
@import '../ui/UI.module.scss';
@import '../ui/Color.module.scss';

@mixin queue-button-color-default {
  &.default {
    background: $ui-default-background-color;
    color: $ui-default-color;
    &:hover {
      background: $ui-default-background-color-hover;
      color: $ui-default-color-hover;
    }
    &[data-state='on'],
    &:active {
      background: $ui-default-background-color-active;
      color: $ui-default-color-active;
    }
    &:disabled {
      background: $ui-default-background-color-disabled;
      color: $ui-default-color-disabled;
    }
  }
}

@mixin queue-button-color-blue {
  &.blue {
    background: $ui-blue-background-color;
    color: $ui-blue-color;
    &:hover {
      background: $ui-blue-background-color-hover;
      color: $ui-blue-color-hover;
    }
    &[data-state='on'],
    &:active {
      background: $ui-blue-background-color-active;
      color: $ui-blue-color-active;
    }
    &:disabled {
      background: $ui-blue-background-color-disabled;
      color: $ui-blue-color-disabled;
    }
  }
}

@mixin queue-button-color-red {
  &.red {
    background: $ui-red-background-color;
    color: $ui-red-color;
    &:hover {
      background: $ui-red-background-color-hover;
      color: $ui-red-color-hover;
    }
    &[data-state='on'],
    &:active {
      background: $ui-red-background-color-active;
      color: $ui-red-color-active;
    }
    &:disabled {
      background: $ui-red-background-color-disabled;
      color: $ui-red-color-disabled;
    }
  }
}

@mixin queue-button-base {
  @apply flex
    items-center
    justify-center
    border-0
    transition-colors
    outline-none
    whitespace-nowrap;
}
