.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Content {
  @apply flex flex-1 min-h-0;
}

.Left {
  width: 200px;
}

.Right {
  @apply flex flex-1 flex-col;
  min-width: 0;
}
