@import '~styles/button/Button.module.scss';

// 아래 전부 정리가 필요함!!
@mixin queue-checkbox-color-default {
  &.default {
    color: $ui-default-color;
    &:hover {
      color: $ui-default-color-hover;
    }
    &:checked {
      color: $ui-default-color-active;
    }
    &:disabled {
      color: $ui-default-color-disabled;
    }
  }
}

@mixin queue-checkbox-color-blue {
  &.blue {
    color: $ui-default-color;
    &:hover {
      color: $ui-default-color;
    }
    &:checked {
      color: $ui-default-color-active;
    }
    &:disabled {
      color: $ui-default-color-disabled;
    }
  }
}

@mixin queue-checkbox-color-red {
  &.red {
    color: $ui-default-color;
    &:hover {
      color: $ui-default-color;
    }
    &:checked {
      color: $ui-default-color;
    }
    &:disabled {
      color: $ui-default-color-disabled;
    }
  }
}

.QueueCheckbox {
  @apply tw-inline-flex tw-items-center tw-relative tw-cursor-pointer;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  @include queue-checkbox-color-default;
  @include queue-checkbox-color-blue;
  @include queue-checkbox-color-red;
}

.CheckboxInput {
  @apply tw-appearance-none tw-hidden;
}

.CheckboxLabel {
  @apply tw-flex;
}


.CheckboxIcon {
  @apply tw-shrink-0 tw-mr-1;
}

.CheckboxChildren {
  @apply tw-flex-auto tw-truncate;
}