@import '../../../styles/button/Button.module.scss';


.QueueRadio {
  @apply tw-inline-flex tw-items-center tw-relative tw-cursor-pointer;

  // sizing
  @include queue-ui-x-padding;
  @include queue-ui-fixed-height;

  // font
  @include queue-ui-fixed-font-size;

  // theme
  color: $ui-default-color;
}

.Disabled {
  color: $ui-default-color-disabled;
}


.RadioInput {
  @apply tw-appearance-none tw-hidden;
}

.RadioLabel {
  @apply tw-flex;
}


.RadioIcon {
  @apply tw-shrink-0 tw-mr-1;
}

.RadioChildren {
  @apply tw-flex-auto tw-truncate;
}
