.Container {
  border-bottom: 1px solid var(--gray5);
}

.ItemRoot {
  @apply flex justify-between items-center h-8;
}

.ItemGroup {
  @apply flex h-full items-center;
}

.Separator {
  margin: 0 1rem;
}

.QueueIndicator {
  color: var(--gray7);

  &.HasEffect {
    color: var(--gray11);
  }

  &.Current {
    color: var(--red11);
  }
}

.Disabled {
  fill: var(--gray7);
}