.Container {
  border-bottom: 1px solid var(--gray5);
}

.ItemRoot {
  @apply flex justify-between items-center h-8;
}

.ItemGroup {
  @apply flex h-full items-center;
  .QueueIndicator {
    color: var(--gray7);
  
    &.Current {
      color: var(--red11);
    }
  }
  
  .HasEffect {
    color: var(--gray11);
  }
}

.Separator {
  margin: 0 1rem;
}
