.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.left {
  display: flex;
  height: 100%;
}

.center {
  display: flex;
  height: 100%;
}

.right {
  display: flex;
  height: 100%;
}