.slider-root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none;
  touch-action: none;
  cursor: pointer;

  &[data-orientation='horizontal'] {
    height: 20px;
  }

  &[data-orientation='vertical'] {
    flex-direction: column;
    width: 20px;
    height: 100%;
  }
}

.slider-track {
  @apply bg-neutral-200;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;

  &[data-orientation='horizontal'] {
    height: 3px;
  }

  &[data-orientation='vertical'] {
    width: 3px;
  }
}

.slider-range {
  @apply bg-neutral-700;
  position: absolute;
  border-radius: 9999px;

  &[data-orientation='horizontal'] {
    height: 100%;
  }

  &[data-orientation='vertical'] {
    width: 100%;
  }
}

.slider-thumb {
  @apply bg-neutral-600;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 10px;

  &:hover {
    @apply bg-neutral-500;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #00000030;
  }

  &:active {
    box-shadow: 0 0 0 6px #00000030;
  }
}
